
@{
    ViewData["Title"] = "Visualização do Cardápio - Bebidas";
    Layout = "_LayoutNavSide";

}

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="~/css/master.css" rel="stylesheet" />

<style>
    html {
        background-color: #4196A6;
    }
</style>


<div style="display: flex; flex-direction: column; justify-content: center; margin-left: 8%">
    <h1 style="display: flex; justify-content: center;" class="my-5">Edite o cardápio do seu restaurante</h1>
    <partial name="_Form" />
</div>


<style>
    .btnNavAtual {
        display: flex;
        justify-content: center; 
        align-items: center;
        background-color: #800;
        color: white;
        
    }

    .btnNavAtual:hover {
        color: white;
        background-color: #a00
    }

    .btnNavAtual:focus, .btnNav:focus {
        box-shadow: 0 0 0 0;
        border: 0 none;
        outline: 0;
    }

    .btnNav {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ddd;
        color: #666;
    }


</style>