@model Item
@{ ViewData["Title"] = "Crie um item do cardápio";
   Layout = "_LayoutNavSide";
}



<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="~/css/master.css" rel="stylesheet" />

<style>
    html {
        background-color: #4196A6;
    }
</style>

<div style="display: flex; flex-direction: column; justify-content: center; margin-left: 8%;">
    <h1 style="display: flex; justify-content: center;" class="my-5 text-white">Cadastre um item</h1>
    <partial name="_FormCreateUpdate" />
</div>



<style>
    .btnNavAtual {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #800;
        color: white;
    }



        .btnNavAtual:hover {
            color: white;
            background-color: #a00
        }



        .btnNavAtual:focus, .btnNav:focus {
            box-shadow: 0 0 0 0;
            border: 0 none;
            outline: 0;
        }



    .btnNav {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ddd;
        color: #666;
    }



    .cardStyle {
        width: 90%;
        border: 2px solid #800;
        height: 80%;
        padding: 2%;
    }



    .formRowStyle {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }



    .formRowStyleButton {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 3vh;
    }
</style>