
@{
    ViewData["Title"] = "Visualização do Cardápio - Sobremesas";
    Layout = "_LayoutNavSide";

}

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="~/css/master.css" rel="stylesheet" />
<link href="~/css/buttons.css" rel="stylesheet" />

<style>
    html {
        background-color: #4196A6;
    }
</style>


<div style="display: flex; flex-direction: column; justify-content: center; margin-left: 8%">
    <h1 style="display: flex; justify-content: center;" class="my-5">Edite o cardápio do seu restaurante</h1>
    <partial name="_Form" />

</div>
