@model Gerente

<input asp-for="CodigoEstabelecimento" />
<div class="form-row d-flex flex-row justify-content-around">
    <div class="form-row justify-content-center my-3" style="width: 45%;">
        <label asp-for="NomeGerente"></label>
        <input asp-for="NomeGerente" class="form-control">
        <span asp-validation-for="NomeGerente" class="text-danger mb-3" style="text-align: center"></span>
    </div>
    <div class="form-row justify-content-center my-3" style="width: 45%;">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control">
        <span asp-validation-for="Email" class="text-danger mb-3" style="text-align: center"></span>
    </div>
</div>

<div class="form-row justify-content-center mx-auto my-3" style="width: 96%;">
    <label asp-for="Endereco"></label>
    <input asp-for="Endereco" class="form-control">
    <span asp-validation-for="Endereco" class="text-danger mb-3" style="text-align: center"></span>
</div>