@{
    ViewData["Title"] = "GerenciarConta";
    Layout = "_LayoutNavSide";
}

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="~/css/master.css" rel="stylesheet" />
<link href="~/css/buttons.css" rel="stylesheet" />

<div style="display: flex; flex-direction: column; justify-content: center; margin-left: 7%; height: 80vh">
    <div class="card mx-auto" style="width: 70%; height: 60%; border-radius: 20px; border: 2px solid #800; ">
        <h2 style="display: flex; justify-content: center;" class="mb-5 mt-5 bold">Gerenciar Conta</h2>

        <h3 style="display: flex; justify-content: center;" class="mb-3">Editar informações</h3>
        <div class="mx-auto row">
            <a asp-action="EditarGerente" asp-controller="Estabelecimento" class="btn btn-warning mx-2">Gerente</a>
            <a asp-action="EditarEstabelecimento" asp-controller="Estabelecimento" class="btn btn-warning mx-2">Estabelecimento</a>
        </div>
    </div>
</div>

<style>
    html {
        background-color: #4196A6;
    }
</style>

