@model IList<Musica>

@{
    ViewData["Title"] = "Sugestoes";
    Layout = "_LayoutNavSide";
}

<partial name="_BotoesSessao" />

<div style="display: flex; flex-direction: column; margin-top: 3%; margin-left: 7%; min-height: 80vh">
    <h2 style="display: flex; justify-content: center;" class="mb-5 bold">Sugestões de músicas</h2>
    <div class="card mx-auto" style="width: 70%; border-radius: 20px; box-shadow: 6px 6px 15px #333; ">
        <table class="table w-75 align-self-center my-4 mx-3">
            <thead>
                <tr>
                    <th>Música</th>
                    <th>E-mail do Usuário</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var m in Model)
                {
                    <tr>
                        <td>@m.MusicName - @m.ArtistName</td>
                        <td>@m.UserEmail</td>
                        <td><a asp-action="ApagarNotificacao"><span class="material-icons text-danger">delete_outline</span></a></td>
                    </tr>
                }
                @if (Model.Count == 0)
                {
                    <tr>
                        <td class="text-info" colspan="2">Nenhuma sugestão por enquanto.</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

